@import "./base.css";

body {
  display: flex;
  place-items: center;
  background-color: #213a45;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

.v-application.transparent {
  background: transparent !important;
}

.v-application--wrap {
  min-height: unset;
}

.v-app-bar {
  height: unset !important;
}

.v-main {
  padding: 0 !important;
}

.container {
  max-width: none;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.v-btn.btn-kumojin-style {
  background-color: #5fe2dc;
  color: #213a45;
  text-transform: none;
}

.v-btn:hover.btn-kumojin-style {
  background-color: #213a45;
  color: #5fe2dc;
  border: 1px solid #5fe2dc;
}

.btn-color-selected::after {
  content: "X";
  font-weight: bold;
  font-size: 16px;
  position: relative;
  right: 35%;
  border: none;
  background: transparent;
  box-shadow: none !important;
}