@import "./base.css";

body {
  background-color: #213a45;
}

.v-application--wrap {
  min-height: unset;
}

#app {
  padding: 2rem;
  margin: 0 auto 0;

  font-weight: normal;
}

.container {
  max-width: none;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

#site-header, #site-header svg {
  transition: all .25s cubic-bezier(.43,.42,.56,1);
}

#site-header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  transform: translateY(0);
}

#site-header .container-left {
  margin-left: auto;
  padding-right: 20px;
  padding-left: calc((100vw - 1180px) /2);
}

#main-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 21px 0;
  position: relative;
}

#main-menu .header-logo {
  transform: translateY(-3.5px);
  position: relative;
  z-index: 2;
}

#main-menu .header-logo svg {
  transition-delay: 0s;
  width: 195px;
}

#site-header svg {
  display: block;
  filter: brightness(1);
}

.v-btn.btn-kumojin-style {
  background-color: #5fe2dc;
  color: #213a45;
  text-transform: none;
}

.v-btn:hover.btn-kumojin-style {
  background-color: #213a45;
  color: #5fe2dc;
  border: 1px solid #5fe2dc;
}

.btn-color-selected::after {
  content: "X";
  font-weight: bold;
  font-size: 16px;
  position: relative;
  right: 35%;
  border: none;
  background: transparent;
  box-shadow: none !important;
}